# PostgreSQL Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123

# RabbitMQ Configuration
RABBITMQ__HOST=localhost
RABBITMQ__PORT=5672
RABBITMQ__USERNAME=admin
RABBITMQ__PASSWORD=admin
RABBITMQ__VIRTUALHOST=/

# JWT Configuration
JWT__KEY=bda4f13c18b85a2d4dbb5a867ef16e730a5df2b34cd9f1bbcd83db98d12f957e
JWT__ISSUER=fitly-auth
JWT__AUDIENCE=fitly-client
JWT__EXPIRESINMINUTES=60
